/* general styles */
*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  margin: inherit;
  padding: inherit;

  background-color: var(--fr-primary-color);

  color: var(--sc-primary-color);

  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--thr-primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--thr-primary-color);
}
