/* reset-styles */
.reset-paragraph,
.reset-title,
.reset-list {
  margin: 0;
  padding: 0;
}

.reset-button,
.reset-link {
  color: currentColor;
}

.reset-link {
  text-decoration: none;
}

.reset-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 500;
  border: none;
}

.reset-list {
  list-style: none;
}
