<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<!--<style type="text/css" в этом атрибудете мы указываем чт здесь происходит>
		body{
			background-color: #a4edbe;
		}
	</style>-->
	<title>Изучение css</title>
	<link rel="stylesheet" href="css/css.css" подключение ксс href ссылаеться на то что ты напишешь здесь в стилях теги уже не пишуться >
</head>
<body>
<!--сss это каскадный таблицы стилей
css3 анимацмя длбавлена-->
<!--class="Tank" этот атрибут называет наш тег для дальнейшего использывания в сss и мы можем его использывать много раз	-->
<!-- 3 способа как прописать стили-->
<!-- В css
Bodу это называеться силектор{
	backgroun-color это называеться свойства:hgJGJg то называеться значение; это называеться блок обьявлений стилей
}
 -->
<h1 id="header" благодаря этому здесь атрибуту там мы сразу пишем #header а не h1 и лучше не делать одинаковые названия и сюда не желательно писать названия самих тегов так как в старых браузеров может не работать и миниатрибут хидер можно использывать и в другом документе id and  class сущесстувют абсолютно для любых тегов><!--style="color: red"-->
	<a href="" name="rak"></a>
<audio src="audio/Eiffel 65 - 80s Stars (Album Version).mp3" controls="true" loop="true"></audio>
<audio src="audio/Eiffel 65 - Move Your Body [midi-mp3.org].mp3" controls="true" loop="true"></audio>
<audio src="audio/eiffel-65_-_blue-da-ba-dee.mp3" controls="true" loop="true"></audio>
<audio src="audio/Scatman John - Im the Scatman.mp3" controls="true" loop="true"></audio><!--h1.style{color: yellow}
мы используем точку и названия класа чтобы обратиться к нему и если у нас еще какой-то тег назван как нпример стайл то и мы не хоти менять название то тогда пишем еще и название тега-->
<!-- p i{
таким способом мы ссылаемся у тега п на тег ай	
}
p i.style{
		
}
html{
	это означает что мы прминяем здесь классы ко всему документу 
}
*{
	это означает что мы абсолютно ко всему документу приминяем классы и лучше писать не штмл а так *
}
p.example, b{
	font-size: 55px;
так мы можем делать групировки
}
	font-weight:1000, bold - это жырный,  normal - нормальный, lighter - легкий; показывает насыщенось текста

	p#exemple: first-letter - это псевдоелемент то есть стили будут подключаться только к первой букве, first-line - первую линию {
	псевдостили для ссылки
	link- по умолчанию
hover- при наведении меняет то на что наводишь можем абсольтну к любому не только к ссылкам
active -при нажатии и так же ко всем но с п и некоторыми только с зажатием
visited- если пользыватель уже переходил по этой ссылке то она уже будет другим цветом и остальные ховер эктив работать уже не будут приминяеться уже только к ссылкам
и этот все был псевдоелементы
}
-->
<!--text-decoration: unset, none снимает подчеркивания, underline-дает подчеркивание, line-throuhg-перечеркнутый, blink-будет мигать но в каких-то мигает а в каких-то нет  у меня не мигает, overline-линия над текстом но обычно они приминяються для ссылок; 
background: url('https://i.artfile.me/wallpaper/25-01-2015/1366x768/priroda-reki-ozera-gory-reka-doroga-pejz-901608.jpg' no-repeat blue - здесь цыет будет пока картинка не загрузиться center top);
этот тег делат картинку задним фоном
		 background-repeat: этот стиль повотряет картинкку(не дописан так можно это написать вместо имэдж)
		 repeat-x - будет повторяться по x
		 repeat- - будет повторяться по y-->
	Загаловок 1 уровня
</h1>
<p id="line">
	Здесь находиться текст параграф
</p>
<h3 class="style">
	Заголовок 3 уровня
</h3>
<p id="exemple" class="style">
	Еще не много <i>текстa</i> здесь
</p>
<h1 id="header_1">
Загаловок 1 уровня
</h1>
<h3 class="style">
	Заголовок 3 уровня
</h3>
<p class="example">Example</p>
<b>Example</b><br>
<a id="href" href="#" это означает что ссылка не куда не будет ссылаться title="Проверка">
	Стили для ссылки
</a><br>
<a href="#" id="hrefs">Это пример</a>
<!-- Робота с текстом-->
<!-- em - подстраиваеться под екран девайса и записываеться 1.1, 1.2, 1.4, 2.1 ... -->
<p id="textStyle">Здесь <span>находиться текст параграф</span></p>
<p id="textStyle">
	Еще не много текстa здесь
</p>
<!--
font-size: 1.4em;
	font-weight: bold - жирный, normal - нормальный, от 100 до 900; 
	font-family: это каким будет шрифт по типу TimesNewRomans
Comic Sans MS
fantasy
sans-serif - если на компе не будет этого шрифта то он подберет максимально близким к тому который ты напишешь
	text-align -  место нахождения текста: right; 
justify -  по ширине н но мы это увидим когда будет большой текст;
text-indent - он делает отступ для тега: 1.1em;
text-transform - меняет либо загловок либо сам текст:capitalize -  это означает что кажадая первая бувка будет заглавной uppercase - весь текст будет большим то есть все буквы будут заглавными
lowercase - все буквы будут маленькими
none - ничего 
word-spacing - пробелы в тексте, интервалы: 10px 
letter-spacing - жто пробелы между буков
line-height -  интервал между стокамы:10px, 120%; это самыйе главние стили и самы много использываемые;-->
<!-- Блоки 
	border - обводка всего блока, также можно border-bottom - внизу, border-top - сверху,-left, -right: 1px - сначала указываем ширину обводки solid - как имено будит обводиться и солид означает что будет полностью обведен, dashed - делает оюводку в дефысы, dotted - в точечку, double - формачка будет из двох пралельных линийй, groove - граници отоюражаються вдавленой обьемной линии,
	ridge -отображаеться выпуклой обьемной линии, inset - грницы выглядят так что весь блок выглядит вдавленым, outset - так как в инсет только наоборот выдавленым  silver- цвет;
	margine - внешний отступ слева сверху снизу справа -bottom, -top, -left, -right и можно все в одном писать в такой последовательности: toppx, rightpx, bottompx, leftpx;
	padding - внутриние отступы и все оже самое что есть у margine;
	border-radius -закругленность углов в табличке;
	cursor: pointer;/*Это мы задаем курсор и этот курсор у нас как при нажатии*/
	border: none;/*без граници*/
	outline: none;/*без обводки*/
	outline: 1px solid silver;Обводка
-->
<div id="textBlock">Example<br><center><span ><a href="#" id="rak"><input id="button" title="Button" value="Example2" type="button"></a></span></div><hr><hr>
</body>
</html>
