<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jQuery/jquery-3.0.0.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Игра - приключения</title>
</head>

<body>
  <div class="startWindow del" >
    <div class="startButton">Начать</div>
  </div>
  <div class="chooseHero">

  <div class="wrapper del"></div>

  <ul class="ulOfImgOfHero">
     <li class="choosenHero" name="Воин">
       <div class="img">
         <img src="img/waroir.jpg" class="imgOfHeroFirst">
         <span class="beforeImgOfHeroFirst">Воин</span>
         <div class="underImg" name="Воин">
           <img class="imgInUnderImg" name="Воин" src="img/shield.png">
         </div>
      </div>
     </li>
     <li class="choosenHero" name='Хилитель'>
       <div class="img">
         <img src="img/Rosa.jpg" class="imgOfHeroFirst">
         <span class="beforeImgOfHeroFirst">Лекарь</span>
         <div class="underImg" name="Хилитель">
            <img class="imgInUnderImg" name="Хилитель" src="img/first-aid-kit.png">
          </div>
         </div>
     </li>
     <li class="choosenHero" name='Маг'>
       <div class="img">
         <img src="img/колдун.jpg" class="imgOfHeroFirst">
         <span class="beforeImgOfHeroFirst">Маг</span>
         <div class="underImg" name="Маг">
            <img class="imgInUnderImg" name="Маг" src="img/magick-stick.png">
         </div>
         </div>
     </li>
  </ul>
<article class="windowOffeaturesOfhero Richard del">
        <div class="discribe">
            <p class="history">
                  <strong>Ричард</strong> родился в деревушке, поблизости к к. Камелот, в очень бедной семье фермера, который не мог себе позволить купить даже буханку хлеба для семьи.С самого дества, он показывал не обы какой интерес к охоте. Как толко ему стукнуло 14, он захотел стать самым лучшим воином всех времен королевства, и свергнуть нинешнюю власть, из-за которой все в королевстве являются бедными. Его отец и мать отдали их полседние деньги чтобы сдлеать подарок на 16 летия их сына. Они Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit, corrupti nisi fuga temporibus maxime? Minus quo odit possimus molestiae, quas laudantium dolorum maiores, mollitia adipisci culpa ea, deserunt velit!
                  Quidem officiis inventore ratione dolorem dolores repellendus quibusdam quia nesciunt excepturi quos ex, saepe delectus sapiente in. Perspiciatis quo vel repellat ratione impedit. Porro, amet, consectetur qui doloribus quod atque.
                  Nostrum, at, aut enim perferendis et facere nesciunt ipsum mollitia. Aliquid aut, voluptatem laudantium vel adipisci a, accusantium magnam laborum debitis vitae, quia quidem natus, neque at. Earum, veniam, quis?
                  Enim suscipit et, consectetur, quo illum sint aut, cum, quas tempora sed earum est laudantium dolor possimus itaque hic delectus ipsa perspiciatis! Ad laborum quisquam facilis exercitationem accusamus accusantium amet.
                  Quidem, quas est voluptatum maxime, officiis impedit non? Quod aliquid esse ad fugit aspernatur porro nihil veniam, ex voluptatem laudantium doloribus animi totam recusandae assumenda velit officia minima ab. Corrupti.
                  Sit quidem libero laboriosam quisquam maiores magnam odit ratione animi incidunt fugiat beatae voluptas quasi ducimus sint tempore architecto magni quaerat aspernatur labore dignissimos recusandae tenetur facilis aliquam, maxime quia.
                  Quam rem quidem quos expedita enim omnis velit reprehenderit aliquid blanditiis fugit nemo nulla ut eligendi esse vero distinctio explicabo qui possimus quia minima incidunt corrupti eos, error. Accusamus, dignissimos!
                  Laboriosam, aut expedita nobis corrupti ea nam! Omnis tenetur illum ex. Totam quis doloremque aperiam, eum placeat voluptatibus possimus, cum ut harum iusto vitae molestiae sunt ratione dicta commodi laboriosam.
                  Quod hic ad impedit quas praesentium iste asperiores molestiae veniam nam qui delectus, quo magni nemo autem, totam natus beatae labore, necessitatibus suscipit modi deleniti. Praesentium enim, quasi aspernatur eveniet!
                  Alias, illum nesciunt quibusdam, eveniet ratione, eligendi architecto odio perspiciatis minus totam laborum, excepturi? Odio quasi hic sunt, beatae illum nesciunt reiciendis similique voluptates dolores ullam, aspernatur dolorem magni cumque!
            </p>
            <img src="img/—Pngtree—a red pushpin_5459910.png" class="konsButtonImg">
            <span class="featuresWraper">
                <h3>
                    Харкатеристика: 
               </h3>
                <ul>
                    <li>  
                      Damage: 10dmg
                    </li>
                    <li>
                      Health: 1100hl
                    </li>
                    <li>
                      Defense: 100
                    </li>
                </ul>
                <h3>
                  Способности:
                </h3>
                <ul>
                    <li>  
                      Удар вселеной
                    </li>
                    <li>
                        Дрожь земли
                    </li>
                    <li>
                      Всевышняя помочь
                    </li>
                </ul>
            </span>
        </div>
          <div class="buttons">
            <button class="buttonToClose buttonsToDo">  
    &#129092; Назад
            </button>
            <button class="buttonToCompare buttonsToDo"> 
    &#8646;</button>
            <button class="buttonToChoose buttonsToDo">
              Беру &#129094;
            </button>
          </div>
</article>
<article class="windowOffeaturesOfhero Rosa del">
      <div class="discribe">
        <p class="history">
          <strong>Ричард</strong> родился в деревушке, поблизости к к. Камелот, в очень бедной семье фермера, который не мог себе позволить купить даже буханку хлеба для семьи.С самого дества, он показывал не обы какой интерес к охоте. Как толко ему стукнуло 14, он захотел стать самым лучшим воином всех времен королевства, и свергнуть нинешнюю власть, из-за которой все в королевстве являются бедными. Его отец и мать отдали их полседние деньги чтобы сдлеать подарок на 16 летия их сына. Они Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum velit, corrupti nisi fuga temporibus maxime? Minus quo odit possimus molestiae, quas laudantium dolorum maiores, mollitia adipisci culpa ea, deserunt velit!
          Quidem officiis inventore ratione dolorem dolores repellendus quibusdam quia nesciunt excepturi quos ex, saepe delectus sapiente in. Perspiciatis quo vel repellat ratione impedit. Porro, amet, consectetur qui doloribus quod atque.
          Nostrum, at, aut enim perferendis et facere nesciunt ipsum mollitia. Aliquid aut, voluptatem laudantium vel adipisci a, accusantium magnam laborum debitis vitae, quia quidem natus, neque at. Earum, veniam, quis?
          Enim suscipit et, consectetur, quo illum sint aut, cum, quas tempora sed earum est laudantium dolor possimus itaque hic delectus ipsa perspiciatis! Ad laborum quisquam facilis exercitationem accusamus accusantium amet.
          Quidem, quas est voluptatum maxime, officiis impedit non? Quod aliquid esse ad fugit aspernatur porro nihil veniam, ex voluptatem laudantium doloribus animi totam recusandae assumenda velit officia minima ab. Corrupti.
          Sit quidem libero laboriosam quisquam maiores magnam odit ratione animi incidunt fugiat beatae voluptas quasi ducimus sint tempore architecto magni quaerat aspernatur labore dignissimos recusandae tenetur facilis aliquam, maxime quia.
          Quam rem quidem quos expedita enim omnis velit reprehenderit aliquid blanditiis fugit nemo nulla ut eligendi esse vero distinctio explicabo qui possimus quia minima incidunt corrupti eos, error. Accusamus, dignissimos!
          Laboriosam, aut expedita nobis corrupti ea nam! Omnis tenetur illum ex. Totam quis doloremque aperiam, eum placeat voluptatibus possimus, cum ut harum iusto vitae molestiae sunt ratione dicta commodi laboriosam.
          Quod hic ad impedit quas praesentium iste asperiores molestiae veniam nam qui delectus, quo magni nemo autem, totam natus beatae labore, necessitatibus suscipit modi deleniti. Praesentium enim, quasi aspernatur eveniet!
          Alias, illum nesciunt quibusdam, eveniet ratione, eligendi architecto odio perspiciatis minus totam laborum, excepturi? Odio quasi hic sunt, beatae illum nesciunt reiciendis similique voluptates dolores ullam, aspernatur dolorem magni cumque!
        </p>
        <span class="featuresWraper">
          <h3>
             Харкатеристика: 
          </h3>
          <ul>
              <li>  
                Damage: 8dmg
              </li>
              <li>
                Health: 1000hl
              </li>
              <li>
                Defense: 90
              </li>
          </ul>
          <h3>
            Способности:
          </h3>
          <ul>
              <li>  
                Удар вселеной
              </li>
              <li>
                  Дрожь земли
              </li>
              <li>
                Всевышняя помочь
              </li>
          </ul>
          </span>
        </div>
        <div class="buttons">
          <button class="buttonToClose Rosabut">  
                                        &#129092; Назад
          </button>
          <button class="buttonToCompare Rosabut">
                                        &#8646;
          </button>
          <button class="buttonToChoose Rosabut">
                                        Беру &#129094;
          </button>
      </div>
    </span>
</article>
<article class="windowOffeaturesOfhero Yukino del">
      <div class="discribe">
        <p class="history">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <img src="img/—Pngtree—a red pushpin_5459910.png" class="konsButtonImg">
        <span class="featuresWraper">
            <h3>
    Харкатеристика: 
</h3>
<ul>
    <li>  
      Damage: 12dmg
    </li>
    <li>
      Health: 900hl
    </li>
    <li>
      Defense: 80
    </li>
</ul>
            <h3>
  Способности:
</h3>
<ul>
    <li>  
      Удар вселеной
    </li>
    <li>
        Дрожь земли
    </li>
    <li>
      Всевышняя помочь
    </li>
</ul>
        </span>
      </div>
      <div class="buttons">
        <button class="buttonToClose buttonsToDo">  
&#129092; Назад
        </button>
         <button class="buttonToCompare buttonsToDo"> 
&#8646;</button>
        <button class="buttonToChoose buttonsToDo">
          Беру &#129094;
        </button>
      </div>
</article>
<div class="compareWindow del">
  <ul>
    <li>
      <img src="img/Health.png" alt="">
    </li>
    <li>
      <img src="img/Health.png" alt="">
    </li>
    <li>
      <img src="img/Health.png" alt="">
    </li>
  </ul>
</div>

<!--     <div class="game">
   <progress class="enemy" value="" max=""></progress>
   <progress value="" max="" class="hero"></progress>
    <button class="damage">Удар</button>
    <button class="defense">Защита</button> 
    </div> -->
  <script src="javascript/javascript.js"></script>
  <script src="javascript/fighting.js"></script>
  <script type="text/javascript">
function soundClick(sound) {
  var audio = new Audio();
  audio.src = `${sound}`;
  audio.autoplay = true; 
}

document.querySelector("*").onload = ()=>{
    soundClick("sounds/Воин.mp3")
}

document.querySelector(".choosenHero[name='Воин']").onclick = ()=>{
    soundClick("sounds/Воин.mp3")
}
document.querySelector(".choosenHero[name='Хилитель']").onclick = ()=>{
    soundClick("sounds/Лекарь.mp3")
}
document.querySelector(".choosenHero[name='Маг']").onclick = ()=>{
    soundClick("sounds/Маг.mp3")
}
  </script>
</body>

</html>