* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  margin: 10px;
}

/* class for hide and show block */

.hide {
  display: none;
}

.show {
  display: block;
}

/* / class for hide and show block */
