html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	background-image: url('https://forum.awd.ru/gallery/images/upload/44b/3fa/44b3face5316de7dd3a7e4d3048c0172.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.header{
	height: 90px;
	z-index: 3;
	font-family: Arial, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	opacity: 1;
}

/* блок в хедере */

.heddiv{
		position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 60px;
    padding: 10px;
    background-color: #1C1C25FF;
    border-bottom: 4px solid hsl(240, 14%, 10%);
    -webkit-box-shadow:  0 0 10px black;
    box-shadow: 0 0 10px black;
    transition: .5s;
    z-index: 1;
}

.heddiv2{ position: fixed; top: -180px; }

header a{
	text-decoration: none;
}

/* Лого */

.div_img{
	position: absolute;
	left: 140px;
	top: 10px;
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 3px solid #ffff;
}

.img{
	width: 60px;
	height: 60px;
}

/* Настройка выпадающего списка */

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    text-align: center;
    color: #ffff;
	max-width: 700px;
	font-weight: bold;
	margin-top: 10px;
	transition: all 1s;
}

.drop-box{
	position: relative;
	left: 150px;
	max-height: 30px;
	width: 170px;
	transition: all 1s;
}

.drop-box span{
   position: absolute;
   background-color: #1C1C25FF;
   width: 170px;
   padding: 10px;
   left: 0;
   cursor: pointer;
   transition: .3s;
   z-index: 1;
}

.drop-box .drop-menu li{
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 170px;
	padding: 10px;
	cursor: pointer;
	border-radius: 3px;
	transition: all .3s;
	background-color: #33C3CBFF;
	border-bottom: 1px solid #1C1C25FF;
	z-index: 0;
}

.drop-box a{
	color: #ffff;
	text-decoration: none;
}

.drop-box span:hover{
	background-color: #2FCFCAFF;
	/*box-shadow: 0 0 20px black;*/
	transition: all .3s;
	border-radius: 5px;
}

.hover{
	background-color: #2FCFCAFF;
	/*box-shadow: 0 0 20px black;*/
	transition: all .3s;
	border-radius: 5px;
}

.div_butt{
    position: absolute;
	float: right;
    right: 100px;
    top: 25px;
}

.head_butt{
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-family: Times New Roman, Times, serif, sans-serif;
    font-weight: bold;
    border:none;
    border-radius: 5px;
	cursor: pointer;
	color:  #1C1C25FF;
	outline: none;
	transition: .5s;
}

.head_butt:hover{
		background-color: gold;
}

.butt1{
    background-color: white;
}

.butt2{
	background-color: #3AE519FF;
}

/* Нфстройка артикла */

article{
	position: relative;
	width: 1000px;
	padding: 15px;
	padding-bottom: 25px;
	margin-top: 200px;
	margin-left: 400px;
	background-color: #F8F9FAFF;
	border-radius: 7px;
	box-shadow:  0 0 10px black;
}

/* Настройка футера */

footer{
	font-family: Arial, sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* Настройка кнопки помочь в виде телефона */

.dws {
 position: fixed;
 top: 600px;
 left: 180px;
}
.pulse, .block, .phone {
 position: absolute;
 width: 50px;
 height: 50px;
 color: #fff;
 text-align: center;
 border-radius: 50%;
}
.block {
 cursor: pointer;
 z-index: 1;
 overflow: hidden;
}
.pulse {
 background: #414ABDFF;
 position: relative;
 transition: .5s;
}
.phone {
 font-size: 25px;
 line-height: 50px;
 animation: phone .9s ease-in-out infinite;
}
.text {
 position: absolute;
 opacity: 0;
 text-transform: uppercase;
 font-weight: 700;
 top: 20px;
 left: 5px;
 font-size: 9px;
 transform: scaleX(-1);
 transition: .5s ease-in-out;
}
.phone i {
 transition: .5s ease-in-out;
}
.pulse:hover {
 background: hsl(236, 49%, 40%);
}
.pulse:hover i {
 transition: .5s ease-in-out;
 transform: scale(0);
}
.pulse:hover .text {
 transform: scaleX(1);
 transition: .5s ease-in-out;
 opacity: 1;
}
.pulse:hover::before,
.pulse:hover::after {
 content: '';
 position: absolute;
 border: 1px solid hsl(236, 49%, 60%);
 left: -20px;
 right: -20px;
 top: -20px;
 bottom: -20px;
 border-radius: 50%;
 animation: pulse 1.8s linear infinite;
 opacity: 0;
}

.pulse:hover::after {
 animation-delay: .5s;
}

@keyframes phone {
 0%, 100% {
  transform: rotate(-10deg);
 }
 50% {
  transform: rotate(10deg);
 }
}

@keyframes pulse {
 0% {
  transform: scale(0.5);
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  transform: scale(1.2);
  opacity: 0;
 }
}

/* Настройка блока в футере */

.fotdiv{
	position: relative;
 	margin-top: 150px;
    float: left;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #1C1C25FF;
    border-top: 4px solid hsl(240, 14%, 10%);
    -webkit-box-shadow:  0 0 10px black;
    box-shadow: 0 0 10px black;
    color: #fff;
}

/* Настройка текста в футере */

.fotdiv label{
	position: relative;
	top: 10px;
	float: right;
	right: 50px;
	font-family: Georgia, sans-serif;
}

.fotdiv p{
  position: absolute;
  left: 450px;
}

.fotdiv p a{
	color: #fff;
	text-decoration: none;
}

.fotdiv p a:hover{
  color: #3879C6FF;
  text-decoration: underline;
}

/* Настройка пар в футере */

.p-fot{
	margin-top: 50px;
}

/* Настройка нижнего текста в футере */

.last_div_f{
margin-top: 80px;
}

.last_div_f a{
position: relative;
display: inline-block;
margin-left: 100px;
left: 300px;
color: #3879C6FF;
text-decoration: none;
font-size: 14px;
}

.last_div_f a:hover{
  text-decoration: underline;
}

/* Настроить икноки получше */



/* Настройка иконок */

.for-icons span{
  position: absolute;
  font-size: 24px;
  top: 25px;
  letter-spacing: 5px;
  left: 1650px;
}

.fa-youtube-play{
	position: relative;
	color: #FF011DFF;
	font-size: 100px;
}

.fa-facebook-official{
	color: #3A5898FF;
}

.fa-twitter-official{
	color: #1DA1F2FF;
}

.fa-instagram-official{
background: linear-gradient(45deg, #F8D91FFF, #ED7D27FF, #E0303BFF, #AD3D89FF, #8845A2FF, #4E44A4FF);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.fa-telegram-official{
	color: #34ACE0FF;
}

/* Настройка плавающей формы */

.second-main-container{
	position: fixed;
	width: 350px;
	top: 0;
	right: calc(7% + 4px);
	transform: translate(487px, 100px);
	transition: .5s;
	z-index: 1;
	user-select: none;
}

.second-main-container:hover{
       	transform: translate(477px, 100px);
       }

 .chk-label:checked ~ .second-main-container {
 transform: translate(135px, 100px);
}

.form-input-label{
position: relative;
 margin: 0 0 20px;
}

.rotate{
	position: absolute;
    left: -131px;
    top: 150px;
	transform: rotate(-90deg);
}

.first-label{
	display: block;
	margin: 0 auto;
	padding: 10px;
	font-size: 24px;
	margin-left: 0;
	z-index: 2;
 	font-family: monospace, sans-serif;
	background-color: hsl(240, 14%, 25%);
	text-align: center;
	width: 200px;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
	transition: all .3s;
	color: #ffff;
	font-family: monospace;
}

.chk-label{
	display: none;
}

.form{
	border: 4px solid hsl(240, 14%, 25%);
	background-color: hsl(240, 14%, 20%);
    padding: 19px;
    border-radius: 10px;
}

.form-input-label .input{
	position: relative;
	width: 85%;
	margin-left: 25px;
	margin-right: 10px;
	box-sizing: border-box;
	outline: none;
	border: none;
	border-bottom: 1px solid #00FFFFFF;
	background: transparent;
	font-size: 14px;
	height: 50px;
	color: #FFFFFF;
}

.form-input-label .second-label{
position: absolute;
line-height: 100px;
color: white;
margin-left: 28px;
font-size: 18px;
transition: all .5s;
}

.focus .second-label{
 transform: translateY(-30px);
 font-size: 14px;
 color: #FFFF00FF;
}

.form-input-label textarea{
	position: relative;
	display: block;
	height: 100px;
	margin-top: 12px;
}
.link-form{
	margin-left: 30px;
}

.link-form,
.link-form a{
	margin-top: 10px;
	left: 10px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

.link-form a:hover{
	color: #62CA34FF;
	text-decoration: underline;
}

.button-form{
	display: block;
	background-color: ;
    padding: 8px;
    border-radius: 5px;
    margin-left: 210px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    outline: none;
    color: #fff;
    background-color: #3D7BC1FF;
    transition: .3s;
}

.button-form:hover{
	background-color: hsl(212, 52%, 40%);
}

.link-checkbox{
	position: absolute;
	left: 10px;
	top: 0px;
}

/* Настройка якоря */

.jacor-help{
	position: fixed;
	right: 180px;
	top: 530px;
	width: 100px;
	height: 100px;
	color: blue;
	transform: rotate(-90deg);
	transition: all .5s;
	opacity: 0;
}

.jacor-link{
	text-decoration: none;
	color: #ffff;
	font-size: 30px;
	transition: .3s;
}

.jacor-link:hover{
	color: red;
}
/* Настройки картинок и текста в артикал марку и все что находиться в блоке*/

article h3{
	display:block;
	margin-top: 50px;
}

.main-div{
	position: relative;
	margin-top: 20px;
}

article .div-img{
	display: flex;
	flex-direction: row;
}

article img{
	display: block;
	width: 600px;
	height: auto;
	border-radius: 3px;
	box-shadow: 0 0 5px black;
}

/* Настрока картинки для словакии и урал гор*/

.sl{
	position: absolute;
	top: 800px;
}

.sl2{
	position: absolute;
	top: 800px;
	width: 300px;
	height: 200px;
}

article span{
	margin-left: 10px;
	font-size: 18px;
	font-family: Arial,sans-serif;
	text-align: justify;
}

article .main-div h4 p{
	padding: 4px;
	background-color: #E7DCC3FF;
	width: 125px;
    text-align: center;
}
 article a{
 	text-decoration: none;
 }

 article a:hover{
  text-decoration: underline;
 }
 .div-ul{
 	display: flex;
 }
 .div-ul ul{
 	margin-top: 1px;
 	list-style: square;
 }

 .div-ul li{
 	display: flex;
 }

 .div-ul .flag-country{
 	position: absolute;
 	display: block;
 	width: 20px;
    left: 73px;
    box-shadow: none;
 }

/* Настройка флагов и блоков и ссылок которые не настраиваються как все */

.help-h4{
	margin-left: -40px;
}

 .div-ul .flag-help{
 	position: absolute;
 	display: block;
 	width: 20px;
    left: 73px;
    box-shadow: none;
}

.div-ul-help{
	position: relative;
}

.div-ul-help div{
	position: absolute;
	left: -40px;
	top: 18px;
}

.div-ul-help div a{
	margin-left: 5px;
}

.div-ul-help2 div{
top: 60px;
}

.div-ul-help3 div{
top: 40px;
}

.li-help{
	margin-top: 10px;
}

.img-help{
	position: absolute;
    top: 860px;
    left: 160px;
}

.img-help2{
    position: absolute;
    top: 820px;
    left: 160px;
}

.img-map{
	position: absolute;
	width: 300px;
	box-shadow: none;
    margin-left: 500px;
	margin-top: -300px;
}

/* Настройка модального окна */

.h-w{
	position: fixed;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 60%);
    z-index: 2;
    user-select: none;
}

.sc-mod{
    transform: scale(0);
}

.main-modal-window{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: hsla(0, 100%, 100%, 60%);
	padding: 7px;
	padding-top: 12px;
	box-shadow: 0 0 10px black;

}

/* Настройка форм модального окна */

.form-window{
	padding: 10px;
	background-color: hsl(0, 23%, 95%);
	width: 300px;
	height: auto;
	display: none;
	font-size: 20px;
}

.active{
	display: block;
}

/* Настройка инпутов в форме рег. */

.form-window .input-wind{
	position: relative;
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	font-size: 18px;
	border: 1px solid #CCCCCCFF;
	margin-top: 20px;
	background-color: hsl(0, 23%, 95%);
	border-radius: 5px;
	outline: none;
	padding-left: 5px;
 	font-family: 'Times', sans-serif;
}

.form-window input:focus{
	border: 2px solid hsl(198, 50%, 50%);
	border-radius: 5px;
}

/* Настройка лабела для инпута */

.form-window label{
	position: absolute;
	z-index: 1;
    margin-top: 27px;
	left: 30px;
	transition: .3s;
	color: silver;
	cursor: text;
}

.focus-wind label{
  transform: translateY(-14px);
  color: hsl(198, 50%, 50%);
  font-size: 14px;
  text-align: center;
  background-color: hsl(0, 23%, 95%);
}

/* Настройка кнопки модального окна */

.window-button{
   position: relative;
   width: 100%;
   height: 40px;
   box-sizing: border-box;
   font-size: 18px;
   font-weight: bolder;
   background-color: #3C7BC2FF;
   border: none;
   color: white;
   cursor: pointer;
   border-radius: 3px;
   transition: .3s;
   z-index: 1;
   overflow: hidden;
   outline: none;
}

/* Before, After кнопки  */

.window-button::before,
.window-button::after{
 content: '';
 display: block;
 width: 100%;
 height: 100%;
 background-color: hsla(193, 100%, 70%, .6);
 position: absolute;
 top: 0;
 left: -100%;
 transition: .3s;
 z-index: -1;
 border-radius: 3px;
}

.window-button::after{
 background-color: #33ddff;
 top: 0;
 left: 100%;
 transition-delay: .3s;
}

.window-button:hover::before,
.window-button:hover::after{
	left: 0;
}

/* Настройка иконок */

.social{
display: flex;
justify-content: space-between;
font-size: 24px;
list-style: none;
}

.social a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	position: relative;
	left: -25px;
	color: #3C7BC2FF;
}

.social a:hover{
  background: linear-gradient(30deg,#0200FF 30%,#FF00BE 70%, #D700FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social a::before,
.social a::after{
	content: "";
	position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    background-color: red;
}

.social a::before{
	transform-origin: right;
}
.social a:hover::before{
	transform: scaleX(1);
	transform-origin: left;
}

.social a::after{
	transform-origin: left;
    background-color: yellow;
}
.social a:hover::after{
	transform: scaleX(1);
	transform-origin: right;
}

.social li a div::before,
.social li a div::after{
	content: "";
	position: absolute;
    width: 1px;
    height: 100%;
    background-color: #B200FFFF;
    transition: transform .5s;
    transform: scaleY(0);
}
.social li a div::after{
right: 0;
transform-origin: top;
background-color: #20F40AFF;
}

.social li a div::before{
left: 0;
transform-origin: bottom;
}


.social li a div:hover::before{
	transform: scaleY(1);
	transform-origin: top;
}
.social li a div:hover::after{
	transform: scaleY(1);
	transform-origin: bottom;
}

/* Настройка ссыллок в модальном окне */

.help-last-link{
	text-align: center;
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.form-window .help-last-link a{
	color: #36d2ff;
	text-decoration: none;
}

.form-window .help-last-link a:hover{
	color:  hsl(193, 100%, 40%);
	text-decoration: underline;
}

/* Настройка лабелов в мод окне */

.first-w-label{
color: hsl(0, 23%, 95%);
font-weight: bold;
padding: 10px;
display: inline-block;
border-radius: 5px 5px 0 0;
margin-bottom: -1px;
font-size: 20px;
cursor: pointer;
}

.active{
	background-color:hsl(0, 23%, 95%);
	color: hsl(232, 12%, 30%);
}

/* Настройка кнопки в форме два */

.w-butt2{
	margin-top: 20px;
}

/* Настройка последнего инпута во второй форме в модальном окне */

.last-form-div{
	position: relative;
	font-size: 13px;
	top: 10px;
}

.last-form-div label{
position: absolute;
color: #36d2ff;
top: -27px;
}

 .last-form-div label a{
color: #36d2ff;
text-decoration: none;
}

.w-link-form a:hover{
color: #FF0008FF;
text-decoration: underline;
}

.w-link-checkbox{
	position: relative;
	top: -2px;
	left: 0;
}

/* Настройка креста для выхода с мод окна */

.cross{
	position: absolute;
	top: 0;
	left: 92%;
	font-size: 30px;
	color: hsl(0, 23%, 95%);
	cursor: pointer;
}

.cross:hover{
animation: rot 1s;
}

@keyframes rot{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

/* настройка кастомизирываного alert */

.warrning-form,
.alert-form1,
.alert-form2{
	position: absolute;
	right: -200px;
	top: 10px;
	width: 150px;
	height: 50px;
	background-color: red;
	padding: 10px;
	justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 50px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    transition: .5s;
}

.alert-form2{
	top: 90px;
    font-size: 14px;
    transition-delay: 1s;
	background-color: #F4CF0AFF;
}

.alert-form1{
	top: 90px;
	width: 280px;
	right: -400px;
    font-size: 14px;
    transition-delay: 1s;
	background-color: #F4CF0AFF;
}

/* Настройка модально окна для телефона */

.phone-mw-h{
	position: fixed;
	top: -200px;
	left: 40%;
    z-index: 2;
    user-select: none;
    transition: .5s ease-out;
}

/* Само окно */

.main-phone-mw{
	position: relative;
	background-color: hsla(0, 90%, 100%, 100%);
	padding: 10px;
    width: 360px;
	padding-top: 12px;
	box-shadow: 0 0 10px black;
	text-align: center;
	font-family: Arial, sans-serif;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Настройка инпута в этом окне */

.phone-input{
	width: 80%;
	height: 30px;
	box-sizing: border-box;
	margin-top: 15px;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

/* Настройка кнопак в этом окне */

.div-butt-ph{
	display: flex;
	justify-content: space-around;
	margin-left: -150px;
	margin-top: 10px;
}

.button-phone{
	margin-top: 10px;
	margin-left: 150px;
	padding: 3px;
	border: none;
	outline: none;
	background-color: hsl(220, 100%, 50%);
	color: #ffff;
    height: 25px;
    width: 80px;
    text-align: center;
    border-radius: 3px;
	font-family: Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: .5s;
}

.button-phone:hover{
	background-color:#1D8AE1FF;
}

.button-phone:active{
	border: 1px solid #1D8AE1FF;
}

/* это класс помощь */

.del{
	display: none;
}
