@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

/* 
    <HEADER>
*/

header {
    position: sticky;
    top: 0;
    background: #000;
    padding: .9375em 0;
    color: white;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    background: url("../img/sl.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
    font-weight: 700;
    font-family: 'Nosifer', cursive;
}

.header-content .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-content .nav ul li {
    margin-right: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
}

.header-content .nav a {
    color: white;
    text-decoration: none;
    transition: all .2 s;
    text-transform: uppercase;
    font-size: .9375em;
    font-weight: bold;
}

.header-content .nav a:last-child {
    margin-right: 0;
}

.header-content .nav a:hover {
    color: #880808;
    font-family: 'Rubik Glitch', cursive;
}

/* </ HEADER> */