<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sillent Hill</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="js/parallax.min.js"></script>
  <!-- <script src="https://kit.fontawesome.com/0fac554a2e.js" crossorigin="anonymous"></script> -->
  <link rel="stylesheet" href="./css/general_settings.css">
  <link rel="stylesheet" href="./css/intro.css">
  <link rel="stylesheet" href="./css/header.css">
  <link rel="stylesheet" href="./css/section_settings.css">
  <link rel="stylesheet" href="./css/about_game_sec.css">
  <link rel="stylesheet" href="./css/games_list_sec.css">
  <link rel="stylesheet" href="./css/films_sec.css">
  <link rel="stylesheet" href="./css/monstres_sec.css">
</head>

<body>

  <audio src=""></audio>
  <div class="intro" data-parallax="scroll" data-image-src="img/welcom.jpg">
    <div class="container">
      <div class="intro-content">
        <h1>Silent Hill</h1>
        <h2>Страх може як захистити людину, так і вбити</h2>
      </div>
    </div>
  </div>

  <main>

    <!-- <header> -->
    <header>
      <div class="container">
        <div class="header-content">
          <h1 class="logo-name">Sillent Hill</h1>
          <nav class="nav">
            <ul>
              <li>
                <a href="#aboutGame">Про Гру</a>
              </li>
              <li>
                <a href="#games-list">Серія Ігор</a>
              </li>
              <li>
                <a href="#aboutMovies">Фільми</a>
              </li>
              <li>
                <a href="#aboutCreatures">нечість</a>
              </li>
              <li>
                <a href="#aboutGame">Історія</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- <header> -->

    <section class="about-the-game sec-1" id="aboutGame">
      <h1 class="main-header">Про Гру</h1>

      <div class="container">

        <div class="sec_content">

          <p>
            Silent Hill (яп. サイレントヒル Сайренто Хіру, укр. Сайлент-Хілл, укр. Мовчазний Пагорб) — відеогра в жанрі
            survival horror, що започаткувала однойменну серію. Гру було розроблено японською командою Team Silent і
            видано компанією Konami. Спочатку вона вийшла лише для ігрової приставки PlayStation. Реліз в Північній
            Америці відбувся 31 січня, в Японії — 4 березня, в Європі — 1 серпня 1999 року.
            <br><br>
            В Silent Hill використовується вигляд від третьої особи, а усі локації — тривимірні. Аби приховати графічні
            недоліки, зумовлені технічними обмеженнями PlayStation, розробники використовували «ефект туману» (надалі
            туман став головною характерною рисою світу Сайлент Хілл). На відміну від більш ранніх ігор жанру survival
            horror, у котрих головні герої зазвичай мали бойову підготовку, персонаж Silent Hill — пересічна людина.
            <br><br>
            Події гри відбуваються в однойменному вигаданому американському місті. Сюжет розгортається навколо
            письменника Гаррі Мейсона (Harry Mason), що шукає у Сайлент-Гіллі свою зниклу прийомну доньку Шеріл
            (Cheryl). У місті він виявляє релігійний культ, що намагається провести ритуал для відродження божества,
            котрому цей культ поклоняється. Залежно від дій гравця історія може мати одне з п'яти різних закінчень.
            <br><br>
            Silent Hill отримала позитивні відгуки критиків та мала комерційний успіх. Гра вважається однією з
            найзначиміших у жанрі survival horror, оскільки в плані залякування гравців сприяла переходу від прийомів
            фільмів категорії B до психологічного аспекту жаху. Було випущено кілька адаптацій гри, включно з візуальною
            новелою 2001 року, однойменним фільмом 2006 року та грою-«переосмисленням» оригіналу під назвою ''Silent
            Hill: Shattered Memories.
          </p>

        </div>

      </div>

    </section>

    <section class="games-list sec-2" id="games-list">
      <h1 class="main-header">Серія Ігор</h1>
      <div class="container">
        <div class="sec_content">
          <div class="games-block">

            <div class="game-block" data-year="1999">
              <img class="intro-game" src="https://upload.wikimedia.org/wikipedia/ru/b/b0/SH1_boxart.png" alt=""
                loading="lazy">
              <h1 class="header-block-game">Silent Hill 1</h1>
              <div class="text">
                <p>На прохання своєї дочки Шеріл письменник Гаррі Мейсон попрямував на відпочинок у курортне містечко
                  «Сайлент Хілл». Але на під'їзді до міста їх автомобіль потрапив у аварію. Коли Гаррі прокинувся, дочки
                  поруч не було. Перша частина гри у свій час справила велике враження на ігрову громадськість,
                  одночасно показавши ігровому світу survival horror з новим підходом до жаху, зробивши гру цього жанру
                  тривимірною (відомий у той час Resident Evil відрізняється відсутністю тривимірного оточення) та
                  забезпечивши безліччю вражаючих елементів.</p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PS</li>
                </ul>
              </div>
            </div>

            <div class="game-block" data-year="2001">
              <img class="intro-game"
                src="https://upload.wikimedia.org/wikipedia/ru/thumb/9/95/Silent_Hill_2.jpg/274px-Silent_Hill_2.jpg"
                alt="" loading="lazy">
              <h1 class="header-block-game">Silent Hill 2</h1>
              <div class="text">
                <p>Друга частина серії. Джеймс Сандерленд, головний герой гри, ось уже три роки як не може оговтатися
                  від смерті дружини. Його дружина, Мері, померла від рідкісної та невиліковної хвороби. Але якось
                  Джеймс отримує листа, що підписаний ім'ям покійної дружини. Вона пише, що чекає його в їх «особливому»
                  місці в містечку Silent Hill, де вони колись проводили чимало часу. Лист викликає сум'яття і біль у
                  Джеймса, він не може повірити, що його дружина жива. Щоб у всьому розібратися, він відправляється в
                  «Сайлент Гілл».</p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PS2</li>
                  <li class="platform">Xbox</li>
                  <li class="platform">PC</li>
                </ul>
              </div>
            </div>

            <div class="game-block" data-year="2003">
              <img class="intro-game"
                src="https://static.wikia.nocookie.net/silenthill/images/0/05/SilentHill3Boxart.png/revision/latest?cb=20170420164634&path-prefix=ru"
                alt="" loading="lazy">
              <h1 class="header-block-game">Silent Hill 3</h1>
              <div class="text">
                <p>
                  Життя сімнадцятирічної дівчини Гізер руйнується в одну мить. Щойно вона спокійно обідала в
                  забігайлівці торгового центру, і ось навколо нависла темрява, в якій ховаються сонми чудовиськ, а ті
                  рідкісні люди, яких вона зустрічає, не палають бажанням їй допомогти…
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PS2</li>
                  <li class="platform">PC</li>
                </ul>
              </div>
            </div>

            <div class="game-block" data-year="2004">
              <img class="intro-game" src="https://upload.wikimedia.org/wikipedia/ru/a/ab/Silent2002.jpg" alt=""
                loading="lazy">
              <h1 class="header-block-game">Silent Hill 4: The Room</h1>
              <div class="text">
                <p>
                  Четверта частина серії похмурих екшен/адвенчур. Гра оповідає про Генрі Тауншенда, який бачить сни, що
                  здаються йому дійсністю. Через деякий час він виявляє, що є замкненим у своїй квартирі: двері завішені
                  ланцюгами, телефон не працює, вікна розбити неможливо, годинник зупинився, а телевізор показує лише
                  перешкоди. Через дивну дірку у ванній він вирушає в небезпечну подорож паралельними світами.
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PS2</li>
                  <li class="platform">Xbox</li>
                  <li class="platform">PC</li>
                </ul>
              </div>
            </div>


            <div class="game-block" data-year="2007">
              <img class="intro-game"
                src="https://static.wikia.nocookie.net/silenthill/images/e/ea/OriginsBoxart.png/revision/latest?cb=20170420164636&path-prefix=ru"
                alt="" loading="lazy">
              <h1 class="header-block-game">Silent Hill 4: The Room</h1>
              <div class="text">
                <p>
                  Головний герой Тревіс Грейді (Travis Grady) — водій вантажівки з тяжким минулим. Проїжджаючи через
                  «Сайлент Гілл» Тревіс стає свідком жахливої пожежі та виносить обгоріле тіло маленької дівчинки з
                  охопленого вогнем будинку, при цьому втрачаючи свідомість. Тревіс приходить до тями, лежачи на лаві
                  посеред «Сайлент Гілла». Намагаючись розібратися в тому, що відбувається навколо, він виявляється
                  залучений до чиєїсь жахливої гри, де на кону — його життя.
                  Гра є передісторією першої Silent Hill, отже і всієї серії ігор. Гра розроблена студією Climax
                  Studios.
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PSP</li>
                  <li class="platform">PS2</li>
                </ul>
              </div>
            </div>

            <div class="game-block" data-year="2008">
              <img class="intro-game" src="https://upload.wikimedia.org/wikipedia/ru/f/f1/Silent_Hill_Homecoming.jpg"
                alt="" loading="lazy">
              <h1 class="header-block-game">Silent Hill: Homecoming</h1>
              <div class="text">
                <p>
                  Silent Hill: Homecoming — шоста частина серії відеоігор Silent Hill, розроблена компанією Double Helix
                  Games.

                  Протагоніст гри Алекс Шеферд (Alex Shepherd), учасник війни, повертається до рідного міста
                  Шепердс-Глен (Shepherd's Glen), щоб відшукати зниклого молодшого брата. Удома Алекс знаходить матір,
                  яка впала у кататонію. Пошуки родичів заводять головного героя в місто «Сайлент Гілл». Крок за кроком
                  герой наближається до шокуючої розв'язки, де розкривається правда.
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PS3</li>
                  <li class="platform">Xbox</li>
                  <li class="platform">PC</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="games-list-2 bottom_border sec-2">
      <h1 class="main-header">Серія Ігор</h1>
      <div class="container">
        <div class="sec_content">
          <div class="games-block">

            <div class="game-block" data-year="2009">
              <img class="intro-game"
                src="https://upload.wikimedia.org/wikipedia/ru/9/93/Silent_Hill_Shattered_Memories.jpg" alt=""
                loading="lazy">
              <h1 class="header-block-game">Silent Hill: Shattered Memories</h1>
              <div class="text">
                <p>
                  Silent Hill: Shattered Memories (укр. Сайлент Xілл: Розколоті Спогади, дослівно «Тихий Пагорб:
                  Розколоті Спогади») —
                  cьома частина відеогри із серії Silent Hill, розроблений студією Climax і виданий у 2009 році
                  компанією Konami. Ця гра є
                  «переосмисленням» першої частини Silent Hill.

                  За основу гри взята історія письменника Гаррі Мейсона, який після автокатастрофи губить свою семилітню
                  дочку Шеріл.
                  Події гри описують пошуки дівчинки в містичному місті під назвою Сайлент-Хілл. Від оригінальної гри
                  залишилися тільки
                  імена деяких персонажів, а решта сюжету відрізняється від першої частини.
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">PSP</li>
                  <li class="platform">PS2</li>
                  <li class="platform">Wii</li>
                </ul>
              </div>
            </div>

            <div class="game-block" data-year="2010">
              <img class="intro-game"
                src="https://upload.wikimedia.org/wikipedia/uk/6/69/Silent_Hill-_Downpour_cover.jpeg" alt=""
                loading="lazy">
              <h1 class="header-block-game">Silent Hill: Downpour</h1>
              <div class="text">
                <p>
                  Silent Hill: Downpour (укр. Сайлент Хілл: Злива; також відома під робочою назвою Silent Hill 8) —
                  мультиплатформенна
                  комп'ютерна гра в жанрі survival horror, восьма частина серії серії ігор Silent Hill, розроблена
                  чеською компанією Vatra
                  Games і видана Konami в 2012 році для ігрових приставок Xbox 360 і PlayStation 3. Silent Hill:
                  Downpour була офіційно
                  анонсована на ігровій виставці Electronic Entertainment Expo в 2010 році, де був показаний перший
                  трейлер гри. Гра була
                  випущена 13 березня 2012 року в Північній Америці, в Європі — 30 березня 2012.

                  Гра розгортається у вигаданому всесвіті, що частково нагадує реальний світ. Повсякденна реальність
                  перетинається з
                  іншим, альтернативним світом, наповненим монстрами. Головного героя гри, Мерфі Пендлтон, перевозять
                  автобусом з однієї
                  в'язниці в іншу. По дорозі автобус потрапляє в катастрофу, в результаті чого Мерфі опиняється у місті
                  Сайлент Хілл. Гра
                  полягає у розв'язанні загадок, пошуку необхідних предметів для просування по сюжету, дослідженні
                  локацій, протистоянні
                  головного героя і монстрів. У Silent Hill: Downpour, на відміну від інших ігор серії, є велика
                  кількість побічних
                  квестів, які не є обов'язковими для виконання.
                </p>
              </div>
              <div class="data-game">
                <h4 class="header-block-game">Платформи</h4>
                <ul class="list-platforms">
                  <li class="platform">Xbox 360</li>
                  <li class="platform">PS3</li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="intro" data-parallax="scroll" data-image-src="img/sl.jpg"></div>

    <section class="films_section">
      <h1 class="main-header">Фільми</h1>
      <div class="container">
        <div class="sec_content">

        </div>
      </div>
    </section>

    <section class="creatures_section">
      <h1 class="main-header">Нечість</h1>
      <div class="container">
        <div class="sec_content">

        </div>
      </div>
    </section>

  </main>
  <script type="text/javascript">
  </script>
</body>

</html>