<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/0fac554a2e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/menus.css">
	<link rel="stylesheet" href="css/buttons.css">
	<link rel="stylesheet" href="css/checkboxes.css">
	<link rel="stylesheet" href="css/headers.css">
	<title>Наработки</title>
</head>

<body>

	<div class="wrapper">
		<!-- Типу як виглядає кнопка яка є саб меню -->

		<div class="menus">
			<div class="menu-1">
				<nav>
					<ul class="menu-1__list">
						<li>
							<a href="#" class="menu-1__link">Anime</a>
							<ul class="sub-menu-1__list">
								<li>
									<a href="#" class="sub-menu-1__link">Hentai</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Rape</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Loli</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Etti</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Demons of highschool</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Fighting girls</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Sport</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Baseball</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Fighting</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">God of highschool</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="menu-1__link">Manga</a>
							<ul class="sub-menu-1__list">
								<li>
									<a href="#" class="sub-menu-1__link">Hentai</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Rape</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Loli</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Etti</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Demons of highschool</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Fighting girls</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Sport</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Baseball</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Fighting</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">God of highschool</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="menu-1__link">Ongoing</a>
							<ul class="sub-menu-1__list">
								<li>
									<a href="#" class="sub-menu-1__link">Hentai</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Rape</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Loli</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Etti</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Demons of highschool</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Fighting girls</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Sport</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Baseball</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Fighting</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">God of highschool</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="menu-1__link">Top</a>
							<ul class="sub-menu-1__list">
								<li>
									<a href="#" class="sub-menu-1__link">Hentai</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Rape</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Loli</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Home</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Etti</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Demons of highschool</a>
										</li>
										<li>
											<a href="#" class="sub-sub-menu-1__link">Fighting girls</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="sub-menu-1__link">Sport</a>
									<ul class="sub-sub-menu-1__list">
										<li>
											<a href="#" class="sub-sub-menu-1__link">Baseball</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- /Типу як виглядає кнопка яка є саб меню -->

		<!-- Кнопкк -->

		<div class="buttons">
			<div class="button-1">
				<span>submit</span>
			</div>
			<div class="button-2">
				<span>submit</span>
				<span></span>
				<span></span>
			</div>
			<div class="button-3">
				<span>submit</span>
			</div>
			<div class="button-4">
				<span>submit</span>
				<span></span>
				<span></span>
			</div>
			<div class="button-5">
				<span>submit</span>
			</div>
			<div class="button-6">
				<span>submit</span>
			</div>
			<div class="button-7">
				<span>submit</span>
			</div>
			<div class="button-8">
				<span>submit</span>
			</div>
		</div>

		<!-- /Кнопкк -->

		<!-- CHEACKBOX -->
		<div class="checkboxes">
			<div class="checkbox-1" data-checked="false">
				<div class="left-cr"></div>
			</div>
		</div>
		<!-- /CHEACKBOX -->

		<!-- headers -->

		<div class="headers">
			<header class="header-1 hd">
				<div class="header-1__content">
					<div class="menu-logo">
						<div class="menu-logo__content">
							<button class="menubar">
								<i class="fa-solid fa-bars fa"></i>
							</button>
							<a href="#">
								<img src="https://upload.wikimedia.org/wikipedia/commons/d/db/Zeronet_logo.png"
									class="logo" alt="logo">
							</a>
						</div>
					</div>
					<div class="search-micro">
						<div class="input-search">
							<input type="text" class="">
							<button class="keyboard">
								<i class="fa fa-keyboard-o" aria-hidden="true"></i>
							</button>
						</div>
						<button class="search-button">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
						<div class="micro">
							<button class="micro-button">
								<i class="fa fa-microphone" aria-hidden="true"></i>
							</button>
						</div>
					</div>
					<div class="options hop1">
						<div class="options-content">
							<a href="#">
								<i class="fa fa-video-camera" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-th" aria-hidden="true"></i>
							</a>
							<a href="#">
								<i class="fa fa-bell" aria-hidden="true"></i>
							</a>
							<a href="#">
								<img src="https://papik.pro/uploads/posts/2022-04/1649752393_1-papik-pro-p-anime-risunki-avatarki-1.jpg"
									alt="">
							</a>
						</div>
					</div>
				</div>
			</header>

			<header class="header-2 hd">
				<div class="header-2__content">
					<div class="navigation-logo">
						<a href="#" class="logo">Sillent Hill Wiki</a>
						<nav class="header-2__navigatio">
							<ul class="header-2_menu__list">
								<li>
									<a href="#" class="header-2_menu__link">Home</a>
									<ul class="header-2_sub-menu__list">
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
											<ul class="header-2_sub-sub-menu__list">
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="header-2_menu__link">Home</a>
									<ul class="header-2_sub-menu__list">
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
											<ul class="header-2_sub-sub-menu__list">
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="header-2_menu__link">Home</a>
									<ul class="header-2_sub-menu__list">
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
											<ul class="header-2_sub-sub-menu__list">
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Avada Kedabra</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#" class="header-2_menu__link">Avada Kedabra</a>
									<ul class="header-2_sub-menu__list">
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
											<ul class="header-2_sub-sub-menu__list">
												<li>
													<a href="#" class="header-2_sub-sub-menu__link">Back</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
										<li>
											<a href="#" class="header-2_sub-menu__link">Return</a>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
					</div>
					<div class="settings">
						<a href="scope">
							<span>
								<i class="fa fa-search" aria-hidden="true"></i>
							</span>
						</a>
						<a href="scope">
							<span>
								<i class="fa fa-search" aria-hidden="true"></i>
							</span>
						</a>
						<a href="scope">
							<span>
								<i class="fa fa-search" aria-hidden="true"></i>
							</span>
						</a>
					</div>
				</div>
			</header>
		</div>

		<!-- /headers -->
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>
	<script src="js/js.js"></script>
</body>

</html>