@import url("./reset-normalize.css");
@import url("./variables.css");
@import "tailwindcss";

body {
  background: var(--color-7);
  color: var(--color-3);
  font-family: Arial, Helvetica, sans-serif;
}

*{
  /* outline: 1px solid red; */
}