body{
			margin: 0;
			padding: 0;
			width: 100%;
	    height: 100vh;/*Приёмы отзывчивого веб-дизайна базируются на использовании процентных значений. Но проценты далеко не лучшее решение для каждого случая, так как они вычисляются относительно размеров ближайшего родительского элемента. Поэтому, если вы хотите использовать высоту и ширину окна браузера, лучше воспользоваться единицами vh и vw. Например, если высота окна браузера равна 900px, то 1vh будет равен 9px. Аналогично, если ширина окна браузера равна 1600px, то 1vw будет равен 16px.*/ 
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	#main{
		position: relative;
		width: 750px;
		height: 1334px;
		margin-top: 150px;
		background-color: transparent;/* transparent - означает что цвет у нас будет полностью прозранчный*/
		transform: scale(0.4) rotate(-30deg) skew(25deg);
		/*
		scale(0.5) уменьшвет или увеличивает от данных которые есть
		rotate(-30deg) повырачивает в градусах
		skew(-30deg) делатает так что выглядит как буто он на чем то лежит 
		 */
	}
	#main img{
		position: absolute;/* они будут идти друг за другом в одном месте*/
		width: 100%;
		transition: 0.5s;/* позваляет делать плавную анимацию*/
	}
#main:hover img:nth-child(4)/*nth-child(4) это означает какой элемент мы будем брать то есть здесь это 4 елемент*/{
transform: translate(250px, -250px);/* эта функция помогает передвинуть на определенное количевство пикселей и сначала мы пишем сдвиг по х а потом по у что-то вообщем анимация*/
opacity: 1;/*CSS-свойство opacity устанавливает непрозрачность элемента. Непрозрачность - это степень, в которой содержимое скрывается за элементом, является противоположностью прозрачности.*/
}
#main:hover img:nth-child(3){
transform: translate(200px, -200px);
opacity: 0.8;/* .8 означает 0.8*/
}
#main:hover img:nth-child(2){
transform: translate(150px, -150px);
opacity: 0.6;
}
#main:hover img:nth-child(1){
transform: translate(100px, -100px);
opacity: 0.4;
}