.input {
  padding: var(--global-padding);
  border-radius: var(--global-radius);
  border: 2px solid var(--border-color);
  outline: 2px solid transparent;

  transition: outline 0.3s;

  width: 100%;

  background-color: rgb(from var(--main-color) r g b / 0.5);
  backdrop-filter: blur(var(--global-blur));
}

.input:hover,
.input:focus {
  outline: 2px solid rgb(0, 93, 165);
}

.input-text-label {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}

.input-text-label .required {
  color: red;
}

.input-text-label.checkbox {
  flex-direction: row;
  align-items: center;
}

.label-text-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.label-text {
  display: inline-block;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-checkbox.checked {
  background-color: rgb(0, 93, 165);
  color: white;
}

.textarea {
  width: 100%;
  resize: vertical;
}
