/*

анимировать можно все свойства значения которых задаються чисельно - px, %, em, rem.

Некоторые браузера не анимируютэлемент, если значениеи transitoin-property указаны в разных единицах.
К примеру изменение свойства width со 100px на 20%. 
Аналогично для значений величин вроде auto, inherit и подобных.
 */
.square{
	background-color: green;
	width: 100px;
	height: 100px;
	margin: 30px auto; 
	/*чтобы актривировать анимацию надо сначала написать название анимации animation-name: spin;*/
	animation-name: spin;
	/*
	потом продолжительность анимации
animation-duration: 2s;
	 */
	animation-duration: 4s;
	/*
	можно сделать и с ховер и эктив
	 */
	/*animation-timing-function - єто временная функия которая опридиляет то как будет происходить анимация: ease - по умолчанию то есть наш квадрат сначала ускоряеться а потом замедляеться, linear - то есть линейно и равномерно то наш квадрат будет равномерно крутиться, ease-in - плавно ускоряеться и начинает ускоряться, ease-in-out - плавно начинает и плавно заканчивает*/
	/*в инете можно кастомизирывать эту анимацию на сайтах
cube-bezier(сюда мы пишем кординаты)
	*/   
	animation-timing-function: ease-in-out;
	/*animation-delay: 1s;- это задержка перед анимацией */
	animation-delay: 0s;
/*animation-iteration-count - это свойство определяет сколько раз мы будем делать анимацию: infinite - анимация будет происходить бесконечно, 1 - по умолчанию елемент проходит одну анимацию ; */
animation-iteration-count: 2;
/*animation-direction - меняет направление: alternate - сначала будет крутиться в одну сторону а потом в другую и сначала надо поставить чтобы анимация проиисходила больше 1 раза, normal - по умолчанию крутиться будет обычно, reverse - будет крутиться в другую сторону ; */
animation-direction: alternate;
/*
animation-fill-mode: forwards; когда анимация закончиться то орна не вернеться в прежнее состаяния а отсаниться там где оно должно быть в конце анимции
 */
/*все свойства которые прописаны вверху можно задать одним animation и порядок записи должен быть таким же как и сверху*/
animation: spin 2s cubic-bezier(1.000, -0.600, 0.195, 1.650) 1s infinite alternate;
/*но все это надо писать в префиксах*/
/*
webkit - для браузер chrome
-moz - для браузер мозила
-o - для оперы
  - и просто название анимации которая сверху

  -webkit-animation: spin 2s ease-in-out 1s 4 alternate;
-moz-animation: spin 2s ease-in-out 1s 4 alternate;
 -o-animation: spin 2s ease-in-out 1s 4 alternate;
 animation: spin 2s ease-in-out 1s 4 alternate; 
 */
}
.square:hover{
	/* animation-play-state: paused; - останавливает анимацию*/
	animation-play-state: paused;
}

/* @keyframes spin - задавания ключевых кадров. Писать лучше всегда,  потом мы  пишем название нашей анимации которое может быть абсолютно произвельное потом надо написать первый кадр и последний*/
@keyframes spin{
 /*
 0%{
transform: rotate(0deg);
 } - это первый кадр в котором мы говорим что квадрат пока не поварачиваеться
  */
 /*первый кадр может называться from  а последний to*/
 0%{
transform: rotate(0deg);
 }
 /*мы можем задавать кадр и в середине нашей анимации*/
 25%{
 	background-color: blue;
 }
 50%{
 	background-color: red;
 }
 75%{
 	background: yellow;
 }
 /*если мы хотим обюединить кадры то пише вот так:
25%, 50%{
	
}
 */
 /*
 100%{
transform: rotate(360deg);
} - это последний кадр в которм мы говорим цель котоую должен будет квадрат пройти с первого кадра по последний
  */
 /*первый кадр может называться from  а последний to*/
100%{
transform: rotate(360deg);
}
/*

 .smth:hover ~ .smth{ smth: smth; } - так мы при наведения на что-то вызываем свойства у другого

 */

