@import url('css/variables.css');

.form {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  margin: 0 auto;
  margin-bottom: 50px;

  gap: 40px;
}

@media screen and (min-width: 800px) {
  .form {
    gap: 18px;
  }
}

.input-box {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 10px;

  color: #8a8a89;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}

.input-box input {
  padding: 14px 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;

  border: none;

  border-radius: 14px;
  background: #f7f7fb;
}

.input-box input:focus {
  outline: 2px solid var(--main-sub-color);
}

.input-box input::placeholder {
  color: var(--main-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.input-box input[data-func='setCarBrand'] {
  width: 100%;
  max-width: 224px;
}

.input-box.price {
  width: 100%;
  max-width: 125px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(10%);
  transition: transform 0.3s ease;
}

.arrow.active {
  transform: rotate(180deg) translate(-10%);
}

.search-button {
  padding: 14px;
  width: 100%;
  max-width: 146px;
}
